[alias]
        st = status
        ckd = checkout development
        aa = add -A
        cm = !git add -A && git commit -m
        po = push -u origin master
        ps = push
        pl = pull --rebase
    		pw = config credential.helper store
    		rac = !git add -A && git rebase --continue
    		pushf = push --force-with-lease
[user]
        email = capretzvitor@gmail.com
        name = Vitor Capretz
[push]
        default = simple
