[alias]
        st = status
        aa = add -A
        cm = !git add -A && git commit -m
        ps = push
        pl = pull --rebase
    	pw = config credential.helper store
    	rac = !git add -A && git rebase --continue
    	pushf = push --force-with-lease
	s = switch
[user]
        email = capretzvitor@gmail.com
        name = Vitor Capretz

[push]
	autoSetupRemote = true
[pull]
	rebase = true
